/* Catalog home */

.aimeos.catalog-home {
	margin-top: calc(-1rem - 80px);
}

.catalog-home .stage-item {
	background-color: var(--ai-bg);
	color: var(--ai-bg);
	margin: 0;
}
/* my css start */
.catalog-home .stage-text .stage-short >p{
    margin: 0;
}
.catalog-home .stage-text .stage-short .btn{
    margin: 0;
}
/* my css end */

.catalog-home .stage-image {
	/* min-height: 600px; */
    min-height: 164px;
    /* height: 475px; */
    min-width: 100%;
    object-fit: cover;
    padding: 0;
}

.catalog-home .stage-text {
	position: absolute;
    /* font-size: 200%; */
    /* margin: 0 5%; */
    top:33%;
    padding-left: 4rem;
    /* height: 73%; */
    /* width: 100%; */
    text-align: start;
    color: black;
}

/* additional styles  */

.aimeos.catalog-home
{
	padding-top: 98px;
}


.catalog-home .stage-text .btn {
	background-color: transparent;
	border-color: var(--ai-bg);
	color: var(--ai-bg);
	border-width: 2px;
	font-weight: normal;
	/* margin-top: 1rem; */
	font-size: 60%;
	width: 8rem;
}

@media (min-width:576px) {
	.catalog-home .stage-text {
		font-size: 130%;
	}
	.catalog-home .stage-text .btn {
		font-size: 50%;
		width: 10rem;
	}
}

@media (min-width:768px) {
	.catalog-home .stage-text {
		/* max-width: 50%; */
		font-size: 200%;
	}
	.catalog-home .stage-text .btn {
		font-size: 50%;
		width: 12rem;
	}
}

@media (min-width:992px) {
	/* .aimeos.catalog-home {
		margin-top: calc(-3rem - 44px);
	} */
	/* .catalog-home .stage-text {
		max-width: 40%;
	} */
}

@media (min-width:1200px) {
	.catalog-home .stage-text {
		/* max-width: 35%; */
		font-size: 200%;
	}
}


@media (min-width: 1200px)
{
	.catalog-home .stage-text {   
		color: black;
		/* text-shadow: 2px 2px 3px #ffffff; */
	}
}

.catalog-home .stage-text .btn {
    background-color: white;
    /* border-color: #000; */
    color: #000;
    
}

